# crawl data
log.json
list.json

# program
crawler.py
rename.py
change_ccode.py

# settings
settings.json

# DB
csv2db.py
team_id.json

# others
boxscore_old/
boxscore_tmp/
tmp/
log_.json
log_tmp.json
